@import url('http://fonts.cdnfonts.com/css/kodchasan');


body{
    background-color: #dddddd;
    margin: 0;
    padding: 0;
    font-family: 'Kodchasan', sans-serif;
}


form a{
    color: #F66923;
    text-decoration: none;
    /* margin-left: 4rem; */
    /* display: inline-block; */
}

form p {
    margin-left: 4rem;
}


.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    max-height: 50%;
    max-height: 70%;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

.heading{
    text-align: center;
    padding: 3rem 10rem;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: 4rem;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

button{
    border-radius: 5px;
    position: absolute;
    top: 80%;
    left: 40%;
    width: 5rem;
    height: 2rem;
    background: #F66923;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: 'kodchasan';

}

form input{
    border: none;
    outline: none;
    background: #dddddd;
    font-family: 'Kodchasan', sans-serif;
    margin: 0 4rem 0.5rem 4rem;
    border-radius: 6px;
    padding: .8rem;
}


