<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="display:grid; place-items:center;">
        <h3>Please SEND {{ amount }}ZMW via Airtel Money,MTN money or Spenn<br>
            Press the "SENT" when you've transferred
        </h3>
        <h4>Airtel Money: 0000 0000 0000 0000</h4>
        <h4>MTN Money: 0000 0000 0000 0000</h4>
        <h4>Spenn: 0000 0000 0000 0000</h4>
        <button>SENT</button>
    </div>
</body>
</html>