<!--&lt;!&ndash; {% extends 'moneyservice/base.html' %} &ndash;&gt;-->
<!--{% load crispy_forms_tags %}-->

<!--{% block content %}-->
<!--    <div class="container">-->
<!--        <form action="" method="POST">-->
<!--            {% csrf_token %}-->
<!--            <fieldset>-->
<!--                <legend>Join</legend>-->
<!--                {{ form|crispy }}-->
<!--            </fieldset>-->
<!--            <div class="form-group">-->
<!--                <button class="btn">Sign Up</button>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <small></small>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    <p>Hello</p>-->
<!--{% endblock %}-->