<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>BL Money Services</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Russia to Zambia transfer</legend>
            <label for="">Enter amount</label>
            <input type="number" min="0" placeholder="enter amount" name="amount">
            <select name="" id="">
                <option value="rub">RUB</option>
            </select>
            <input type="submit" value="Transfer Now">
        </fieldset>
    </form>
</body>
</html>